.env
.DS_Store
.python-version
.venv/
__pycache__/
*.pyc

*.mp4

output/
outputs/
logs/
record/
tutorial/logs/
tutorial/record/

jarvisvla.egg-info/
wandb/

data/
checkpoints/
submodules/
out/
tmp/
trash/
wandb/
ultron.egg-info/

.gradio

models/*
